body {
	max-width: 80%;
	margin: 0 auto;
 	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


header {
	background-color: rgba(0,0,0, 0.1);
	opacity: 0.2;
}

nav {
	display: inline;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	padding: 14px 16px;
	background-color: white;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #dddddd;
	border-radius: 5px;
}

@media screen and (max-width: 500px) {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	li {
		display: block;
		width: 100%;
	}

	li a {
		text-align: center;
		display: block;
		padding: 8px 0 8px 16px;
		text-decoration: none;
	}
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
nav ul li:hover .dropdown-content{
    display: block;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
footer {
	background:#ffab62;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
